<div class='card my-3'>
  <h5 class='card-header'>{{user.username}}</h5>
  <div class='card-body'>
    <h5 class='card-title'>{{song_name}}</h5>
    <a href='{{audio_file}}'><p class='card-text'>Ugly Song Link</p></a>
    {{#each tags}}
      {{tag_name}}
    {{/each}}
  </div>
</div>