<h2 class="pb-4">{{username}}Username</h2>
<a href="/dashboard/create/"><button id="create-post" class="btn btn-primary">Upload</button></a>
<hr>

{{#each posts as |post|}}
<div class="container-fluid mx-3">
{{> post-data post }}
</div>

{{else}}
<h6 class="pb-4">:C</h6>
{{/each}}
