<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Username</h5>
    <p class="card-text">Song name</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Artists</li>
    <li class="list-group-item">Album</li>
    <li class="list-group-item">Release Date</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Spotify Link</a>
    <a href="#" class="card-link">YouTube Link</a>
  </div>
</div>

