:root {
  --col-bg: #1c1c1c;
  /* element bg */
  --col-surface: #242424;
  /* one level up */
  --col-surface2: #4a4a4a;
  /* primary colors */
  --col-p-200: #a4aa83;
  --col-p-500: #839c45;
  --col-p-700: #465b2a;
  /* secondary colors */
  --col-s-200: #83aa91;
  --col-s-500: #459c6f;
  --col-s-700: #2a5b48;

  /* text colors */
  --col-on-surface: #bdbdbd;
  --col-on-primary: #1a1a1a;
  --col-on-secondary: #1a1a1a;
}
body {
  background-image: url('../images/Background.png');
  background-color: var(--col-bg);
  color: var(--col-on-surface);

  font-family: var(--ff);
}
::-webkit-scrollbar {
  width: 0px;
}