:root {
  --ff: 'Ubuntu', sans-serif;

  --line-2: 0.125rem;
  --line-3: 0.2rem;
  --line-4: 1.25rem;
  
  --col-bg: #1c1c1c;
  /* element bg */
  --col-surface: #2e2e2e;
  /* one level up */
  --col-surface2: #4a4a4a;
  /* primary colors */
  --col-p-200: #a4aa83;
  --col-p-500: #839c45;
  --col-p-700: #465b2a;
  /* secondary colors */
  --col-s-200: #83aa91;
  --col-s-500: #459c6f;
  --col-s-700: #2a5b48;

  /* text colors */
  --col-on-surface: #bdbdbd;
  --col-on-primary: #1a1a1a;
  --col-on-secondary: #1a1a1a;
}
body {
  /* background-image: url('../images/Background.png');
  background-size: cover;
  background-position: center; */
  background-color: var(--col-bg);
  color: var(--col-on-surface);

  font-family: var(--ff);
}
::-webkit-scrollbar {
  width: 0px;
}
a {
  color: var(--col-on-surface);
}
a:hover {
  color: var(--col-p-200);
}
.btn-primary {
  color: var(--col-on-primary);
  background-color: var(--col-p-500);
  border-color: var(--col-p-700);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: var(--col-on-primary);
  background-color: var(--col-p-500);
  border-color: var(--col-p-700);
  box-shadow: 0 0 0 0.25rem var(--col-p-200);
}
.btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem var(--col-p-700);
}
.btn-secondary {
  color: var(--col-on-secondary);
  background-color: var(--col-s-500);
  border-color: var(--col-s-700);
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  color: var(--col-on-secondary);
  background-color: var(--col-s-500);
  border-color: var(--col-s-700);
  box-shadow: 0 0 0 0.25rem var(--col-s-200);
}
.btn-secondary:active:focus {
  box-shadow: 0 0 0 0.25rem var(--col-s-700);
}
.form-control {
  background-color: var(--col-on-surface);
  color: var(--col-on-primary);
}
.form-control:focus {
  color: var(--col-on-primary);
  background-color: var(--col-on-surface);
  border-color: var(--col-on-primary);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--col-p-200);
}
.card-header {
  color: var(--col-p-500);
  background-color: var(--col-surface);
  border-bottom: var(--line-3) solid var(--col-surface2);
  border-radius: calc(0.3rem + var(--line-3));
}
.card-body {
  background-color: var(--col-surface);
  border-radius: calc(0.3rem + var(--line-3));
}
.card {
  background-color: var(--col-surface);
  border: var(--line-3) solid var(--col-surface2);
  border-radius: 0.3rem;
}